.container {
    margin-bottom: 10px;
}

.panel-head {
    padding: 10px;
    font-size: 24px;
    color: white;
    background-color: purple;
}

button {
    margin-top: 20px;
    padding: 5px;
    background-color: lightgray;
}

.panel {
    border: 1px solid black;
}

